json do node-red.txt
[{"id":"81729c85e894aad1","type":"tab","label":"Saude Sync","disabled":false,"info":"","env":[]},{"id":"3d83aab5604f5023","type":"mqtt in","z":"81729c85e894aad1","name":"","topic":"DHT_TEMP","qos":"2","datatype":"auto-detect","broker":"ae4b8351.dfe6f8","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":160,"wires":[["6eab666ddf08ad29","86279fc11f6e8bbc","6bf73dd2393ef7f8","f367770172c8dff7"]]},{"id":"6eab666ddf08ad29","type":"debug","z":"81729c85e894aad1","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":160,"wires":[]},{"id":"2c64d787cf7b724c","type":"mqtt in","z":"81729c85e894aad1","name":"","topic":"DHT_UMI","qos":"2","datatype":"auto-detect","broker":"ae4b8351.dfe6f8","nl":false,"rap":true,"rh":0,"inputs":0,"x":580,"y":400,"wires":[["4e68b2fd1792b5cb","099f845d489e9c87","576eec87f8733498","032244d5eef6d207"]]},{"id":"4e68b2fd1792b5cb","type":"debug","z":"81729c85e894aad1","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":400,"wires":[]},{"id":"86279fc11f6e8bbc","type":"ui_text","z":"81729c85e894aad1","group":"dddae33064c3e33a","order":0,"width":0,"height":0,"name":"","label":"Temperatura:","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":830,"y":220,"wires":[]},{"id":"6bf73dd2393ef7f8","type":"ui_gauge","z":"81729c85e894aad1","name":"","group":"dddae33064c3e33a","order":1,"width":0,"height":0,"gtype":"gage","title":"Medidor","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":820,"y":260,"wires":[]},{"id":"f367770172c8dff7","type":"ui_chart","z":"81729c85e894aad1","name":"","group":"dddae33064c3e33a","order":2,"width":0,"height":0,"label":"Analise Grafica","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#ce1c1c","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":840,"y":300,"wires":[[]]},{"id":"099f845d489e9c87","type":"ui_text","z":"81729c85e894aad1","group":"ea5bf5664830086e","order":0,"width":0,"height":0,"name":"","label":"Humidade:","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":810,"y":460,"wires":[]},{"id":"576eec87f8733498","type":"ui_gauge","z":"81729c85e894aad1","name":"","group":"ea5bf5664830086e","order":1,"width":0,"height":0,"gtype":"gage","title":"Medidor","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":800,"y":500,"wires":[]},{"id":"032244d5eef6d207","type":"ui_chart","z":"81729c85e894aad1","name":"","group":"ea5bf5664830086e","order":2,"width":0,"height":0,"label":"Analise Grafica","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#ce1c1c","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":820,"y":540,"wires":[[]]},{"id":"ae4b8351.dfe6f8","type":"mqtt-broker","name":"","broker":"192.168.0.4","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"dddae33064c3e33a","type":"ui_group","name":"Temperatura","tab":"0e6cd209ba301d25","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ea5bf5664830086e","type":"ui_group","name":"Humidade","tab":"0e6cd209ba301d25","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"0e6cd209ba301d25","type":"ui_tab","name":"Saude Sync","icon":"dashboard","order":3,"disabled":false,"hidden":false}]